<p id="notice"><%= notice %></p>

<p>
  
  <b>Organizer: <%= @organizer.description.name %></b> <br/>
  <%= @organizer.description.description %><br/>
<p>
  <%= image_tag((@organizer.image_url(:thumb).to_s), :class => "style1") %>
</p>

  <%=  %>
</p>


<%= link_to 'Edit', edit_organizer_path(@organizer) %> |
<%= link_to 'Back', organizers_path %>
